@use '../../variables.scss';
@import "../../mixins.scss";

.top-nav {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  padding: 0 1rem;
  position: fixed;
  background-color: variables.$primary-color;

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
}