@use '../../variables.scss';
@import "../../mixins.scss";

.side-nav {
  position: fixed;
  height: 100%;
  width: 18rem;
  background-color: variables.$primary-color;
  color: variables.$accent-color;
  
  ul {
    list-style-type: none;
  }
}