@use "./variables.scss";
@import "./mixins.scss";

main {
  width: 100%;
  height: 100%;
}

#page-container {
  height: 100%;
  width: 100%;
  padding-top: 75px;

  h1 {
    padding: .5em;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 1em 300px;
  height: 100%;
}